* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light: #F9F9F9;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--green: #00D40C;

}

#content main {
	width: 100%;
	padding: 36px 36px;
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

#content main .title h1 {
	font-size: 56px;
	font-weight: 200;
}

#content main .time li {
	padding: 12px;
	display: flex;
}

#content main .time li .text h3 {
	font-size: 30px;
	font-weight: 100;
}

#content main .list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 36px;
}

#content main .list table {
	width: 100%;
	border-collapse: collapse;
}

#content main .list table th {
	padding-bottom: 16px;
	font-size: 18px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .list table td {
	padding: 20px 0;
}

#content main .list table tbody tr:hover {
	background: var(--grey);
}

#content main .list table tr td .status {
	font-size: 12px;
  width: 100px;
	padding: 10px 16px;
	color: var(--light);
	border-radius: 8px;
	font-weight: 500;
}

#content main .list table tr td .status.completed {
	background: var(--green);
}
#content main .list table tr td .status.pending {
	background: var(--dark-grey);
}