/* App.css */

/* .app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	background-color: #f4f4f4;
	padding: 20px;
  } */
  
  .app-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to bottom, #e16ebb, #593c92);
	color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .paw-planner-image-inside {
    width: 100px; 
    position: absolute; 
    top: 4%; 
    left: 47%; 
    transform: translateY(-50%); 
   
    z-index: 1
}
  
  /* .app-header h1 {
	margin: 0;
	font-size: 2rem;
  } */
  
  .app-header button {
	margin-top: 15px;
	padding: 10px 20px;
	font-size: 1rem;
	color: #0c1e48;
	background-color: rgb(137, 169, 255);
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .app-header button:hover {
	background-color: #ffffff;
	color: #5a7ac4;
  }
  
  /* main {
	margin-top: 30px;
	width: 100%;
	max-width: 800px;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
   */