/* src/Calendar.css */
body {
  background-color: #b4d6f4; /* Change this color to whatever you prefer */
  font-family: Arial, sans-serif; /* Optional: change font-family */
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container input {
  padding: 5px;
  width: 50%;
}

.calendar-container {
  max-width: 5000px;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #f2ebeb;
  border-radius: 8px;
  background: linear-gradient(to bottom, #d890eb, #6879da, #b2b7f0);;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  padding: 30px; /* Increase the padding */
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  font-size: 1em; /* Increase font size for days */
}

.calendar-day.selected {
  background-color: #007bff;
  color: white;
}

.event-form {
  margin-top: 20px;
}

.event-form input,
.event-form select {
  padding: 5px;
  margin: 5px;
}

.event-list {
  list-style: none;
  padding: 0;
  color: white;

  margin: 0;
}

.event-list li {
  background: #f0f0f0;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  font-size: 12px;
  color: #555;
  margin-left: 10px;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
